{% extends "leyout.html" %}

{% block header %}
{% include "inculudes/header.html" %}
{% endblock header %}
{% load static %}


{% block blog %}
<!-- blog -->
  <div class="blog">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage text_align_center">
               {% for i in urunler_page %}
               
              
                <h2>{{i.baslik}} <span class="blue whitebg">{{i.baslik2}}</span></h2>
                <p>
                 {{i.aciklama}}
               </p> 
                {% endfor %}
             </div>
          </div>
       </div>
       <div class="row">
         {% for i in urun_resim  %}
         
         

        <div class="col-md-4">
            <div class="blog-box"  >
               <figure style="height: 300px;">
                  <img  src="{{i.resim.resim.url}}" alt="{{i.etiket}}"/>  
                  <div class="date">
                     <h3>{{i.kategori}}</h3>
                  </div>
               </figure>
               <div class="blog_text">
                  <h3>{{i.marka}}</h3>                      
                  <p>
                     {{i.açıklama}}
                  </p>
               </div>
            </div>
         </div>

         {% endfor %}

         

       </div>
    </div>
 </div>
 <!-- end blog -->
 
 
 {% endblock blog %}


 {% block footer %}

{% include "inculudes/footer.html" %}

{% endblock footer %}
